<style>
    .dataTable {
        width: 100%;
        margin-bottom: 20px;
        border: 5px solid #fff;
        border-top: 5px solid #fff;
        border-bottom: 3px solid #fff;
        border-collapse: collapse;
        outline: 3px solid #ffd300;
        font-size: 15px;
        background: #fff !important;
    }

        .dataTable th {
            font-weight: bold;
            padding: 7px;
            background: #ffd300;
            border: none;
            text-align: left;
            font-size: 14px;
            border-top: 3px solid #fff;
            border-bottom: 3px solid #ffd300;
        }

        .dataTable td {
            padding: 5px;
            border: none;
            border-top: 3px solid #fff;
            border-bottom: 3px solid #fff;
            font-size: 14px;
        }

        .dataTable tbody tr:nth-child(even) {
            background: #f8f8f8 !important;
        }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        padding: 14px 15px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

        a.animated-button:link:after, a.animated-button:visited:after {
            content: "";
            position: absolute;
            height: 0%;
            left: 50%;
            top: 50%;
            width: 150%;
            z-index: -1;
            -webkit-transition: all 0.75s ease 0s;
            -moz-transition: all 0.75s ease 0s;
            -o-transition: all 0.75s ease 0s;
            transition: all 0.75s ease 0s;
        }

        a.animated-button:link:hover, a.animated-button:visited:hover {
            color: #FFF;
            text-shadow: none;
        }

            a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
                height: 450%;
            }

    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        padding: 14px 15px;
        color: black;
        font-size: 14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        margin: 0 5px;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    /* Victoria Buttons */

    a.animated-button.victoria-one {
        border: 2px solid #D24D57;
    }

        a.animated-button.victoria-one:after {
            background: #D24D57;
            -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
            -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
            transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        }
        .menu-button{
            display: flex;
            flex-direction: row;
            justify-content:center;
            
        }
    .auth {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
        font-size: 15px;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    }
    .flex-info {
        display: flex;
        flex-direction: column;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    }
</style>
@using(Html.BeginForm())
{
<div>
    <div class="auth">
        <label>Вы авторизованы как: <b>@Html.ViewContext.HttpContext.User.Identity.Name</b></label>
    </div>
    <div class="menu-button">
        @Html.ActionLink("Админ-панель", "Index", "Admin", null, new { @class = "animated-button victoria-one", style = "width: 200px;" })
        @Html.ActionLink("На главную страницу", "Index", "Home", null, new { @class = "animated-button victoria-one", style = "width: 250px;" })
        @Html.ActionLink("Импорт торговых точек", "Index", "Upload", null, new { @class = "animated-button victoria-one", style = "width: 250px;" })
        @Html.ActionLink("Выйти", "Logout", "Account", null, new { @class = "animated-button victoria-one", style = "width: 150px;" })
    </div>
    <div class="flex-info">
        <p><b>Торговая точка:</b> @ViewBag.PointName</p>
        <p><b>Дата последней проверки:</b> @ViewBag.CheckDate</p>
    </div>
    <table class="dataTable">
        <thead>
            <tr>
                <th scope="col">Принтер БК</th>
                <th scope="col">Риббон</th>
                <th scope="col">Картридж</th>
                <th scope="col">Чистка</th>
                <th scope="col">Калибровка</th>
                <th scope="col">Модель роутера</th>
                <th scope="col">Серийный номер роутера</th>
                <th scope="col">Модем 4G</th>
                <th scope="col">Сим-карта</th>
                <th scope="col">Сим IMSI</th>
                <th scope="col">Сим оператор</th>
                <th scope="col">Платёжный терминал</th>
                <th scope="col">Провода терминала</th>
                <th scope="col">Состояние терминала</th>
                <th scope="col">Скорость интернета</th>
                <th scope="col">Интернет-провайдер</th>
                <th scope="col">Диспенсер</th>
                <th scope="col">Проверяющий</th>
                <th scope="col">Дата проверки</th>
            </tr>
        </thead>
        @foreach (var c in ViewBag.GetPointInfo)
        {
            <tbody>
                <tr>
                    <td>@c.CardPrinter</td>
                    <td>@c.PrinterRibbon</td>
                    <td>@c.PrinterCartridge</td>
                    <td>@c.PrinterCleaning</td>
                    <td>@c.PrinterCalibration</td>
                    <td>@c.RouterModel</td>
                    <td>@c.RouterSN</td>
                    <td>@c.Modem4G</td>
                    <td>@c.SimCard</td>
                    <td>@c.SimImsi</td>
                    <td>@c.SimOperator</td>
                    <td>@c.PaymentTerminal</td>
                    <td>@c.TerminalWires</td>
                    <td>@c.TerminalCondition</td>
                    <td>@c.InternetSpeed</td>
                    <td>@c.InternetProvider</td>
                    <td>@c.Dispenser</td>
                    <td>@c.UserId</td>
                    <td>@c.CheckDate</td>
                </tr>
            </tbody>
        }
    </table>
</div>
}